body{
    height: 100vh;
    background-image: url(../images/fundo.png);
    background-size: contain;
    font-size: 15px;
}

main{
    display: flex;
    gap: 60px;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding:10px 50px;
}

.info{
    max-width: 300px;
}

.info h2{
    font-size: 20px;
    font-weight: 900;
    color: #fff;
}

.info p{
    
    font-weight: 400;
    color: #fff;
    margin-top: 10px;
}

.form{
    width: 340px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.form .items-form{
    width: 298px;
    height: 35px;
    margin-top: 15px;
    padding: 0 10px;
    color: #000;
    font-weight: 700;
    border-radius: 5px;
}

.form .nome{
    margin-top: 0px;
}

.form .mensagem{
    height: 100px;
    resize: none;
    padding-top: 10px;
}

.form .campos-obrigatorios{
    align-self: flex-start;
    margin-bottom: 20px;
    font-weight: 400;
    margin-top: 7px;
}

.form .enviar {
    width: 298px;
    height: 41px;  
}

.form .enviar a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3CCC87;
    border-radius: 5px;   
    color:#fff;
    font-weight: 700;
    
    transition: 0.5s ease-in-out;
}

.form .enviar a:hover{
    background-color: #1b5a3c;
    box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.4);
}

.campo-obrigatorio{
    font-size: 8px;
    font-weight: 400;
    color: #F52E2E;
    align-self: flex-start;
    opacity: 0;
}

.alerta-campo-nao-preenchido{
    opacity:1;
}

.borda-campo-nao-preenchido{
    border:1px solid #F52E2E;
}

.borda-campo-preenchido{
    border:1px solid #00C22B;
}